ul {
    list-style: none;
    float: right;
    
}
li {
    display: inline-block;
    padding: 10px 25px;
    background-color: #ee3ba1;
    font-size: 20px;
    text-align: center;
    transition: all 1s;
}



li:hover {
    background-color: #9688d4;
    cursor: pointer;
    transform: scale(1.3);
}


body {
    margin:0px;
    padding:0;
}


.blue {
    background-color: #6a00f4;
    height: 200px;
    padding: 0;
    margin: 0;
}
.red {
    background-color: red;
    height: 500px;
    padding: 0;
    margin: 0;
}

h1, p {
    text-align: center;
    padding: 0;
    margin: 0;
    color: white;
}

div {
    height: 500px;
    padding: 0;
    margin: 0;
    
}

.firstpane {
    padding:150px ;
    text-align: center;
    font-size: 2em;
}

.paragraphpane {
    padding:50px;
}

.secondpane {
    padding: 200px;
    font-size: 40px;
    color: #f20089;
}

.contact{
    background-image: url(../images/selective-focus-photography-of-black-rotary-phone-163007.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    margin:0px;
    padding: 70px;
    
}
.contact-box {
    background-color: rgba(255,255,255, 0.5);
    padding: 50px;
    margin: 0px;
    text-align: center;
    border-radius: 25px;
}
form {
    padding:10px;
}

input {
    width: 70%;
    padding: 25px;
    margin: 20px;
    border-radius: 10px;
}
input:focus{
    background-color: rgb(211, 162, 204);
}

button {
    color: white;
    background-color: #f20089;
    padding:15px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}